.for{
	float: right;
}
.tz{
	width:600px;
	margin-left:400px;
}
a
{
	color:black;
	text-decoration:none;
}
.Login{
	display: block;
	height: 30px;
	width: 100px;
	border-radius: 10px;
	margin-top: 10px;
}
#first{
	width: 65%;
	padding: 0px;
}
.mui-content{
	margin-left: 25%;
}
.xz{
	float: right;
}
.btu
{    width:30%;
	border-radius: 5px;
}
.xia
{
	display: block;
	border-radius: 20px;
	height: 40px;
	width: 90%;
}
.mui-input-row label
{
	width:33%;
}
#btu2
{
	display:none;
}
.textarea
{
	margin:0;
}
.download
{ display:block;
  width:60%;
  height:35px;
  border-radius: 10px;
  margin-top:40px;
}
.downloa
{ display:block;
  width:45%;
  height:35px;
  border-radius: 10px;
  float:left;
  margin-left:3%;
}
.downloa a
{
	color:black;
}
